In [1]:
import pandas as pd

## Задание 1

In [2]:
movies = pd.read_csv('ml-25m/movies.csv')
ratings = pd.read_csv('ml-25m/ratings.csv')

In [3]:
movie_ratings = movies.merge(right = ratings, how = 'left', on = 'movieId') ## Объединяем таблицы с фильмами и оценками

In [4]:
movie_ratings = movie_ratings[movie_ratings['rating'] == 5.0] ## Выбираем все фильмы, по которым была оценка 5.0

In [5]:
rating_count = movie_ratings[['movieId', 'rating']].groupby('movieId').count() ## Считаем кол-во оценок 5.0 по каждому фильму
rating_count.sort_values(by = 'rating', ascending = False, inplace = True) ## Сортируем по убыванию кол-ва оценок

In [6]:
most_rated_movies = rating_count.merge(right = movies, how = 'inner', on = 'movieId') ## По ИД фильма подтягиваем его название из таблицы movies
print(f"Больше всего оценок 5.0 было по фильму: '{most_rated_movies['title'].head(1)[0]}'") ## Выбираем название фильма с самым большим кол-вом оценок 5.0

Больше всего оценок 5.0 было по фильму: 'Shawshank Redemption, The (1994)'

## Задание 2

In [9]:
df = pd.read_csv('power.csv')

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [17]:
latvia = df[ df['country'].str.contains('lat', case = False)] ## Узнаем, как в файле обозначена Латвия
latvia['country'].unique() ## Latvia

array(['Latvia'], dtype=object)

In [19]:
latvia = df[ df['country'].str.contains('lit', case = False)] ## Узнаем, как в файле обозначена Литва
latvia['country'].unique() ## Lithuania

array(['Lithuania'], dtype=object)

In [20]:
latvia = df[ df['country'].str.contains('est', case = False)] ## Узнаем, как в файле обозначена Эстония
latvia['country'].unique() ## Estonia

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

In [39]:
baltic_countries = df[  ((df['country'] == 'Latvia') | (df['country'] == 'Lithuania') | (df['country'] == 'Estonia')) &     ## Выбираем страны Прибалтики
                        ((df['category'] == 4) | (df['category'] == 12) | (df['category'] == 21)) &                         ## Выбираем с категорией 4, 12, 21
                        ((df['year'] >= 2005) & (df['year'] <= 2010)) &                                                     ## Выбираем за период с 2005 по 2010
                        (df['quantity'] >= 0)                                                                               ## Убираем отрицательные значения потреблиения
                      ] 
baltic_countries_equation = baltic_countries[['country', 'quantity']].groupby('country').sum().reset_index()                ## Считаем сумму потребления. 
                                                                                                                            ## reset_index - для выравнивания иерархии группировочной функции и страны
print(f'Суммарное потребление стран Прибалтики составило: \n{baltic_countries_equation}')

Суммарное потребление стран Прибалтики составило:
     country  quantity
0    Estonia   63440.0
1     Latvia   54844.0
2  Lithuania  122296.0

## Задание 3

In [7]:
df = pd.read_html(io = 'https://fortrader.org/quotes')

In [8]:
df[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  80.94        0.0           0.0        NaN
1       USDRUB Курс рубля к доллару  76.27        0.0           0.0        NaN